DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=34.71.54.146
DJANGO_CSRF_TRUSTED_ORIGINS=http://34.71.54.146
DJANGO_USE_X_FORWARDED_HOST=true
DJANGO_USE_PROXY_SSL_HEADER=true
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SECURE=false
APP_NAME=escalade
APP_USER=escalade
APP_GROUP=www-data
PYTHON_BIN=python3
APP_ROOT=/srv/escalade
APP_SHARED_ROOT=/srv/escalade/shared
APP_RELEASES_ROOT=/srv/escalade/releases
APP_CURRENT_LINK=/srv/escalade/current
APP_ENV_FILE=/srv/escalade/shared/config/escalade.env
APP_DATABASE_PATH=/srv/escalade/shared/db/escalade.sqlite3
APP_STATIC_ROOT=/srv/escalade/shared/static
APP_LOG_PATH=/srv/escalade/shared/log/django.log
APP_OPERATIONS_LOG_PATH=/srv/escalade/shared/log/operations.log
GUNICORN_BIND=127.0.0.1:8001
GUNICORN_WORKERS=3
SMOKE_FIRST_NAME=Admin
SMOKE_LAST_NAME=Smoke
SMOKE_PASSWORD=change-me
